/* 页面基本样式 */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: #333;
}

/* h1 标签样式 */
h1 {
    font-size: 3rem;
    color: #007BFF;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 80%;
    text-align: center;
}

/* 按钮样式 */
.contact-btn {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 联系信息样式 */
.contact-info {
    margin-top: 20px;
    font-size: 1.2rem;
    opacity: 0;  /* 初始透明 */
    visibility: hidden;  /* 初始不可见 */
    transition: opacity 0.5s ease, visibility 0.5s ease;  /* 渐变效果 */
}

/* 显示联系信息 */
.contact-info.show {
    opacity: 1;
    visibility: visible;  /* 渐变后可见 */
}
