body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    transition: opacity 0.5s ease-in-out;
}

h1 {
    font-size: 3rem;
    color: #007BFF;
}

.contact-btn {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #0056b3;
}

.contact-info {
    display: none;
    margin-top: 20px;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
