body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

h1 {
    font-size: 3rem;
    color: #007BFF;
    visibility: hidden;  /* 初始时隐藏标题 */
}

.contact-btn {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    display: none;
    margin-top: 20px;
    font-size: 1.2rem;
}

/* 打字机光标效果 */
#title::after {
    content: '|';
    display: inline-block;
    animation: blink 0.7s infinite;
}

/* 光标闪烁动画 */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* 使标题可见 */
.visible {
    visibility: visible;
}
